.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.meal:last-child{
  border-bottom: none;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ff3b3f;
  font-size: 1.25rem;
}