.button-container {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: white;
  color: black;
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

@media only screen and (max-width: 768px) {
  .button {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.25rem;
  }

  .button-container {
    top: 2rem;
    right: 2rem;
  }
}

.button:hover,
.button:active {
  background-color: white;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #FCC218;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}